@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --primary-blue: #163057;
    --secondary-blue: #B6BECA;
    --main-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --second-font: 'Microsoft Sans Serif', Arial, Helvetica, sans-serif;
    --third-font: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

body {
    margin: 0px;
}

.navbar {
    background-color: var(--primary-blue);
}

.navbar img {
    min-height: 34px;
}

.navbar h1 {
    font-family: var(--main-font);
    color: white;
}

/* Estilos para el header (ahora header-container) */
.header-container {
    background-color: #B8BCC7; /* Color gris similar al de la segunda imagen */
    font-family: var(--second-font);
}

.header-container span {
    display: block;
}

.header-container img {
    width: 550px;
}

.header-container .title {
    font-size: 54px;
}

.header-container .subtitle {
    font-weight: 500;
    font-size: 34px;
    margin: 0;
}

/* Estilos para benefits (ahora benefits-container) */
.benefits-container {
    background-color: white;
}

.benefits-container .benefit-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.benefits-container .benefit-item .icon {
    display: flex;
    align-items: center;
    height: 61.25px;
    padding: 12px;
}

.benefits-container .benefit-item .icon img {
    width: 61.25px;
}

.benefits-container .benefit-item .title {
    font-family: var(--second-font);
    font-weight: 500;
    font-size: 24px;
    margin-top: 10px;
}

.benefits-container .benefit-item .description {
    padding-inline: 14px;
    font-weight: 300;
    text-align: center;
    font-family: var(--third-font);
}

.footer {
    background-color: var(--primary-blue);
    color: white;
    height: 150px;
}

.footer .social-media {
    display: flex;
    flex-flow: column nowrap;
}

.footer .social-media .icons-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.footer .social-media .title {
    font-family: var(--main-font);
    font-size: 32px;
    margin-bottom: 12px;
}

.footer .social-media img {
    width: 50px;
}

.footer .brand-description {
    display: flex;
    flex-flow: column nowrap;
    align-items: end;
}

.footer .brand-description img {
    width: 95px;
}

.footer .brand-description .copyright {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.footer .brand-description .copyright img {
    width: 16px;
}

.footer .brand-description .copyright span {
    margin-left: 8px;
    font-family: var(--third-font);
    font-size: 14px;
    font-weight: 300;
}

.footer .brand-description .brand-name {
    font-family: var(--main-font);
    font-size: 16px;
}

.rounded-container {
    background-color: var(--secondary-blue);
    color: var(--primary-blue);
}