<div class="container-fluid p-0">
    <div class="header-container row py-3 align-items-center m-0">
        <div class="col-8 ps-4">
            <p class="title">
                Conectamos transportistas con clientes.
            </p>
            <p class="subtitle">
                Asegurando confianza y tranquilidad en cada viaje.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/person.jpg" alt="person" />
        </div>
    </div>
    <div class="benefits-container row py-5">
        <div class="benefit-item col-md-3">
            <div class="icon">
                <img src="assets/icons/shield-lock.svg"
                    alt="seguridad en cada conexión" />
            </div>
            <span class="title">Seguridad en cada conexión</span>
            <p class="description">Nuestra plataforma verifica tanto a
                transportistas como a clientes,
                garantizando que cada colaboración
                sea segura y confiable.</p>
        </div>
        <div class="benefit-item col-md-3">
            <div class="icon">
                <img src="assets/icons/cash-coin.svg"
                    alt="Pagos garantizados" />
            </div>
            <span class="title">Pagos garantizados</span>
            <p class="description">Disfruta de transacciones rápidas y
                seguras. Recibe tu pago de manera
                oportuna, sin sorpresas ni retrasos.</p>
        </div>
        <div class="benefit-item col-md-3">
            <div class="icon">
                <img src="assets/icons/head-set.svg"
                    alt="Soporte dedicado 24/7" />
            </div>
            <span class="title">Soporte dedicado 24/7</span>
            <p class="description">Nuestro equipo de atención al cliente
                está disponible las 24 horas para
                resolver cualquier duda o
                inconveniente que puedas tener,
                asegurando una experiencia fluida.</p>
        </div>
        <div class="benefit-item col-md-3">
            <div class="icon">
                <img src="assets/icons/calendar.svg"
                    alt="Flexibilidad y oportunidades" />
            </div>
            <span class="title">Flexibilidad y oportunidades</span>
            <p class="description">Accede a una amplia variedad de
                pedidos y clientes, adaptándose
                a tus horarios y aumentando
                tus oportunidades
                de negocio.</p>
        </div>
    </div>
</div> 